<ion-header>
  <ion-toolbar>
    <ion-title>sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content  color="black">
    <form  #form="ngForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Iniciar Sesion</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="email@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Iniciar Sesion</ion-button>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" expand="block" [routerLink] = "['../folder/Inbox']">Regresar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
