<ion-header>
  <ion-toolbar>
    <ion-title>Creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content  color="black">
    <form  #form="ngForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
            </div>
            <div padding texct-center>
              <ion-item>
                <h3>Realizado por Emmanuel Buitrago, Julian Prieto, James Vargas</h3>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" expand="block" [routerLink] = "['../folder/Inbox']">Regresar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
